body {
    background-image: url('../assets/img/Designer.webp');
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-size: cover;
    background-position: center;   
}

div{
    display: contents;
}

footer {
    margin-top: auto;
}